@media screen and (min-width: 1280px) {
  .app {
    min-width: $largeMinWidth;
  }

  .app__header {
    padding: $pad * 14 $pad * 20 0;
  }

  .app__main,
  .app__main--white,
  .app__footer {
    padding: 0 $pad * 20;
  }

  .header__nav {
    display: block;
  }

  .popup {
    display: none;
  }

  .dropdown__menu-container {
    padding: $pad * 15 $pad * 20 $pad * 18;
  }

  .uk-position-absolute {
    left: $pad * 10;
  }
}

@media screen and (max-width: 1279px) {
  .app {
    min-width: $mediumMinWidth;
  }

  .app__header {
    padding: $pad * 9.5 $pad * 13.5 0;
  }

  .app__main,
  .app__main--white,
  .app__footer {
    padding: 0 $pad * 13.5;
  }

  .header__nav {
    display: block;
  }

  .popup {
    display: none;
  }

  .dropdown__menu-container {
    padding: $pad * 10 $pad * 13.5 $pad * 12;
  }
}

@media screen and (max-width: 767px) {
  .app {
    min-width: $mobMinWidth;
  }

  .app__header {
    padding: $pad * 7 $pad * 3 $pad * 13;
  }

  .app__main,
  .app__main--white,
  .app__footer {
    padding: 0 $pad * 3;
  }

  .app__content {
    max-width: $mobMaxWidth;
  }

  .header__nav {
    display: none;
  }

  .popup {
    display: block;
  }

  .accordion__content {
    flex-direction: column;
  }

  .slider__title,
  .accordion__title > h2,
  .news__title > h2,
  .subscribe__title > h2 {
    padding-bottom: $pad * 8;
    font-size: $defaultFz * 2.5;
  }

  .news__content > .news__body {
    display: flex;
    overflow-y: auto;
  }

  .news__item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

  .form__input-container > .form__input {
    width: $full;
  }

  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__socials {
    padding-top: $pad * 8;
  }

  .uk-position-absolute {
    left: $pad * 4;
  }
}
