.news {
  padding-bottom: $pad * 22;
}

.news__content {
  display: flex;
  flex-direction: column;
}

.news__title {
  padding-bottom: $pad * 5;
}

.news__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $pad * 10 $pad * 4;
}

.news__item {
  cursor: pointer;
  transition: 0.5s;
  max-width: 400px;

  > h4 {
    padding-top: $pad * 6;
  }

  > p {
    padding-top: $pad * 2;
  }
}

.news__item:hover {
  opacity: 0.7;
}
