$full: 100%;
$colorMain: #ffffff;
$defaultFz: 1em;
$bgColorMain: #0b0a0d;
$hoverColor: #75ff72;
$mWeight: 500;
$rWeight: 400;
$hrBorder: rgba(255, 255, 255, 0.2);
$inputBorder: rgba(0, 0, 0, 0.4);
$placeholderColor: rgba(0, 0, 0, 0.6);
$mobMinWidth: 400px;
$mobMaxWidth: 767px;
$mediumMinWidth: 768px;
$mediumMaxWidth: 1279px;
$largeMinWidth: 1280px;
$largeMaxWidth: 1900px;
$pad: 5px;
